@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100dvh;
  width: 100dvw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: hsl(220, 20%, 97%);

  --text: hsl(220, 40%, 10%);
  --text-dim: hsl(220, 10%, 45%);

  --primary: hsl(260, 90%, 60%);
  --primary-shade: hsl(260, 90%, 70%);
  --primary-gradient: linear-gradient(
    135deg,
    hsl(260, 90%, 60%),
    hsl(280, 90%, 50%)
  );

  --secondary: hsl(320, 90%, 60%);
  --secondary-shade: hsl(320, 90%, 70%);

  --accent: hsl(220, 20%, 90%);
  --error: hsl(0, 80%, 60%);
  --success: hsl(140, 70%, 50%);
}

.dark {
  --background: hsl(220, 40%, 5%);

  --text: hsl(220, 20%, 95%);
  --text-dim: hsl(220, 10%, 65%);

  --primary: hsl(260, 90%, 65%);
  --primary-shade: hsl(260, 90%, 75%);
  --primary-gradient: linear-gradient(
    135deg,
    hsl(260, 90%, 65%),
    hsl(280, 90%, 55%)
  );

  --secondary: hsl(320, 90%, 65%);
  --secondary-shade: hsl(320, 90%, 75%);

  --accent: hsl(220, 30%, 15%);
  --error: hsl(0, 80%, 65%);
  --success: hsl(140, 70%, 55%);
}

@theme inline {
  --color-background: var(--background);

  --color-text: var(--text);
  --color-text-dim: var(--text-dim);

  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-primary-gradient: var(--primary-gradient);

  --color-secondary: var(--secondary);
  --color-secondary-shade: var(--secondary-shade);

  --color-accent: var(--accent);
  --color-error: var(--error);
  --color-success: var(--success);
}

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
